In [1]:
import pandas as pd
import numpy as np

In [15]:
d1 = pd.read_csv('d1.csv')

In [16]:
d2 = pd.read_csv('d2.csv')

In [4]:
d3 = pd.read_csv('d3.csv')

In [4]:
d4 = pd.read_csv('d4.csv')

In [5]:
d5 = pd.read_csv('d5.csv')

In [17]:
d11= d1.loc[:,['SK_ID_CURR', 'Days_Delayed']]

In [5]:
d11.head(2)

   SK_ID_CURR  Days_Delayed
0      161674          -7.0
1      151639           0.0

In [18]:
d22 = d2.loc[:,['SK_ID_CURR','SK_DPD','SK_DPD_DEF']]

In [ ]:
data = pd.merge(d11,d22, on='SK_ID_CURR')

In [11]:
data_1 = d11.join(d22, on='SK_ID_CURR', how= 'inner', rsuffix='_right')

In [9]:
data.head(10)

   SK_ID_CURR  Days_Delayed  SK_DPD  SK_DPD_DEF
0      154793          -7.0       0           0
1      154793          -7.0       0           0
2      183431         -13.0       0           0
3      111601          -8.0       0           0
4      135169          -1.0       0           0
5      135169           2.0       0           0
6      128066           0.0       0           0
7      120609          -5.0       0           0
8      120609         -12.0       0           0
9      178166          -2.0       0           0

In [14]:
data.shape

(493, 4)

In [11]:
d33 = d3.loc[:,['SK_ID_CURR','SK_DPD','SK_DPD_DEF']]

In [12]:
data_2 = d11.join(d33, on='SK_ID_CURR', how= 'inner', rsuffix='_right')

In [6]:
d44 = d4.loc[:,['SK_ID_CURR','SK_ID_BUREAU','CREDIT_DAY_OVERDUE','CNT_CREDIT_PROLONG']]

In [7]:
d55 = d5.loc[:,['SK_ID_BUREAU','STATUS']]

In [8]:
data_5 = d44.join(d55, on='SK_ID_BUREAU', how= 'left', rsuffix='_right')

In [16]:
data_1.head(2)

       SK_ID_CURR  Days_Delayed  SK_ID_CURR_right  SK_DPD  SK_DPD_DEF
0          161674          -7.0            254527       0           0
44807      161674          -6.0            254527       0           0

In [17]:
data_2.head(2)

       SK_ID_CURR  Days_Delayed  SK_ID_CURR_right  SK_DPD  SK_DPD_DEF
0          161674          -7.0            377916       0           0
44807      161674          -6.0            377916       0           0

In [9]:
data_4.head(2)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_DAY_OVERDUE,CNT_CREDIT_PROLONG,SK_ID_BUREAU_right,STATUS
0,215354,5714462,0,0,6066882,0
1,215354,5714463,0,0,6066882,0

In [19]:
data_1.drop('SK_ID_CURR_right', axis=1,inplace=True)

In [20]:
data_2.drop('SK_ID_CURR_right', axis=1,inplace=True)

In [10]:
data_4.drop('SK_ID_BUREAU_right', axis=1,inplace=True)

In [22]:
data_1.to_csv('data_1.csv',index=False)

In [23]:
data_2.to_csv('data_2.csv', index=False)

In [24]:
data_3.to_csv('data_3.csv', index=False)

In [11]:
data_4.to_csv('data_4.csv',index=True)

In [14]:
data_1 = pd.read_csv('data_1.csv')

In [15]:
data_2 = pd.read_csv('data_2.csv')

In [16]:
hyp_data = data_1.join(data_2, on='SK_ID_CURR', rsuffix='right')

In [17]:
hyp_data.shape

(13605401, 8)

In [18]:
data_1.shape

(13605401, 4)

In [19]:
data_2.shape

(13605401, 4)

In [20]:
hyp_data.head(2)

,SK_ID_CURR,Days_Delayed,SK_DPD,SK_DPD_DEF,SK_ID_CURRright,Days_Delayedright,SK_DPDright,SK_DPD_DEFright
0,161674,-7.0,0,0,156177,0.0,0,0
1,161674,-6.0,0,0,156177,0.0,0,0

In [21]:
hyp_data.drop(['SK_ID_CURRright','Days_Delayedright','SK_DPDright','SK_DPD_DEFright'], axis=1, inplace=True)

In [ ]:
hyp_data1 = pd.merge(data_4, hyp_data, on='SK_ID_CURR')