In [1]:
import pandas as pd
import numpy as np

In [2]:
# from POS_CASH_BALANCE we will have Y in the form of SK_DPD

In [3]:
pos_cash_balance = pd.read_csv('POS_CASH_balance.csv')

In [4]:
# from installment payments we will have Days_Instalment and Days_Entry_Payment which gives us X

In [5]:
inst_pmnt = pd.read_csv('installments_payments.csv')

In [6]:
# now we will extract imp columns from ins_pmnt dataframe and do data engineering to calculate desired X for upcoming @ dataset

In [7]:
inst_pmt = inst_pmnt.loc[:,['SK_ID_PREV','SK_ID_CURR','DAYS_INSTALMENT','DAYS_ENTRY_PAYMENT']]

In [8]:
# now do feature engineering

In [10]:
inst_pmt['Days_Delayed'] = inst_pmt['DAYS_ENTRY_PAYMENT'] - inst_pmt['DAYS_INSTALMENT']

In [11]:
inst_pmt.drop(['DAYS_ENTRY_PAYMENT','DAYS_INSTALMENT'], inplace=True, axis=1)

In [23]:
inst_pmt.shape

(13605401, 3)

In [12]:
# Creation of 1st dataframe for hypothesis testing using inst_pmt and pos_cash_balance

In [13]:
pos_cash_balance.drop(['MONTHS_BALANCE','CNT_INSTALMENT','CNT_INSTALMENT_FUTURE','NAME_CONTRACT_STATUS'], axis=1, inplace=True)

In [24]:
pos_cash_balance.shape

(10001358, 4)

In [35]:
inst_pmt.to_csv('d1.csv')

In [ ]:
pos_cash_balance.to_csv('d2.csv')

In [31]:
hyp_test1.head()

,SK_ID_PREV,SK_ID_CURR,Days_Delayed,SK_ID_PREV_right,SK_ID_CURR_right,SK_DPD,SK_DPD_DEF
0,1054186,161674,-7.0,2116150,254527,0,0
1,1330831,151639,0.0,2542719,338920,0,0
2,2085231,193053,0.0,1521758,274791,0,0
3,2452527,199697,-8.0,2750647,453035,0,0
4,2714724,167756,17.0,2293212,290905,0,0

In [30]:
hyp_test1.shape

(13605401, 7)

In [20]:
hyp_test1.isnull().sum()

SK_ID_PREV          0
SK_ID_CURR          0
SK_DPD              0
SK_DPD_DEF          0
SK_ID_PREV_right    0
SK_ID_CURR_right    0
Days_Delayed        0
dtype: int64

In [32]:
inst_pmt = pd.read_csv('d1.csv')

In [33]:
pos_bal = pd.read_csv('d2.csv')

In [34]:
inst_pmt.drop('Unnamed: 0', axis=1, inplace=True)

In [27]:
inst_pmt.sort_values('SK_ID_CURR').head()

       SK_ID_PREV  SK_ID_CURR  Days_Delayed
13709     1810518      100003          -4.0
31143     1413109      100009         -16.0
1800      2227125      100009         -13.0
7695      1430602      100011         958.0
208       2480304      100012         -41.0

In [28]:
pos_bal.sort_values('SK_ID_CURR').head()

       SK_ID_PREV  SK_ID_CURR  SK_DPD  SK_DPD_DEF
22511     1692033      100007       0           0
2669      2829726      100028       0           0
37897     1223113      100046       0           0
6511      2426800      100047       0           0
38603     1194857      100061       0           0

In [35]:
pos_bal.drop('Unnamed: 0', axis=1, inplace=True)

In [37]:
hhh = pd.merge(pos_bal, inst_pmt, on= 'SK_ID_PREV')

MemoryError:

In [18]:
hyp_1 = pos_bal.join(inst_pmt, on= 'SK_ID_CURR',rsuffix='_right', how = 'left')

In [29]:
hhh.sort_values('SK_ID_CURR').head()

,SK_ID_PREV_x,SK_ID_CURR,SK_DPD,SK_DPD_DEF,SK_ID_PREV_y,Days_Delayed
24909,1692033,100007,0,0,NaN,NaN
2922,2829726,100028,0,0,1914954.0,0.0
2921,2829726,100028,0,0,1914954.0,0.0
2920,2829726,100028,0,0,1914954.0,0.0
41760,1223113,100046,0,0,NaN,NaN

In [31]:
hyp_1.sort_values('SK_ID_CURR').head(20)

,SK_ID_PREV,SK_ID_CURR,SK_DPD,SK_DPD_DEF,SK_ID_PREV_right,SK_ID_CURR_right,Days_Delayed
8531326,1851984,100001,0,0,2165981,106638,0.0
1891462,1851984,100001,7,7,2165981,106638,0.0
8789081,1369693,100001,0,0,2165981,106638,0.0
4704415,1369693,100001,0,0,2165981,106638,0.0
7167007,1369693,100001,0,0,2165981,106638,0.0
4928574,1851984,100001,0,0,2165981,106638,0.0
1261679,1851984,100001,0,0,2165981,106638,0.0
7823681,1369693,100001,0,0,2165981,106638,0.0
2197888,1369693,100001,0,0,2165981,106638,0.0
9849444,1038818,100002,0,0,1773436,100790,-11.0
1216849,1038818,100002,0,0,1773436,100790,-11.0
9510102,1038818,100002,0,0,1773436,100790,-11.0
7403606,1038818,100002,0,0,1773436,100790,-11.0
9514583,1038818,100002,0,0,1773436,100790,-11.0
9517658,1038818,100002,0,0,1773436,100790,-11.0
7714429,1038818,100002,0,0,1773436,100790,-11.0
9793374,1038818,100002,0,0,1773436,100790,-11.0
6626366,1038818,100002,0,0,1773436,100790,-11.0
8701895,1038818,100002,0,0,1773436,100790,-11.0
7601963,1038818,100002,0,0,1773436,100790,-11.0

In [20]:
hyp_1.shape

(10001358, 7)