In [1]:
import pandas as pd
import numpy as np

In [2]:
data_pos = pd.read_csv("previous_application.csv")

In [3]:
data_ps = data_pos.loc[:,['SK_ID_PREV', 'SK_ID_CURR','AMT_CREDIT','DAYS_DECISION','NAME_CASH_LOAN_PURPOSE','NAME_PORTFOLIO']]

In [4]:
data_ps.head(2)

,SK_ID_PREV,SK_ID_CURR,AMT_CREDIT,DAYS_DECISION,NAME_CASH_LOAN_PURPOSE,NAME_PORTFOLIO
0,2030495,271877,17145.0,-73,XAP,POS
1,2802425,108129,679671.0,-164,XNA,Cash

In [5]:
pos = pd.read_csv('POS_CASH_balance.csv')

In [6]:
data_pos = pos.loc[:,['SK_ID_PREV', 'SK_ID_CURR','SK_DPD']]

In [7]:
ins_pay= pd.read_csv('installments_payments.csv')

In [8]:
ins_pay['delayed_by_days'] = ins_pay['DAYS_ENTRY_PAYMENT'] - ins_pay['DAYS_INSTALMENT']

In [15]:
ins_pay.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT', 'delayed_by_days'],
      dtype='object')

In [17]:
ins_pay.drop(['NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'], axis=1, inplace=True
)

In [18]:
print('Shape of data_ps :' , data_ps.shape)
print('Shape of data_pos :' ,data_pos.shape)
print('Shape of ins_pay :' ,ins_pay.shape)

Shape of data_ps : (1670214, 6)
Shape of data_pos : (10001358, 3)
Shape of ins_pay : (13605401, 3)

In [143]:
d1 = pd.merge(ins_pay, data_pos, on= 'SK_ID_PREV')

MemoryError:

In [12]:
d1.shape

(10432108, 8)

In [14]:
d1.drop('SK_ID_CURR_y', axis=1, inplace=True)

In [19]:
d1.head()

,SK_ID_PREV,SK_ID_CURR_x,AMT_CREDIT,DAYS_DECISION,NAME_CASH_LOAN_PURPOSE,NAME_PORTFOLIO,SK_DPD
0,2030495,271877,17145.0,-73,XAP,POS,0.0
1,2030495,271877,17145.0,-73,XAP,POS,0.0
2,2802425,108129,679671.0,-164,XNA,Cash,0.0
3,2802425,108129,679671.0,-164,XNA,Cash,0.0
4,2802425,108129,679671.0,-164,XNA,Cash,0.0

In [21]:
d1.SK_DPD.value_counts()

0.0       9437043
1.0         21224
2.0         16726
3.0         13794
4.0         11777
5.0         10494
6.0          9117
7.0          7825
8.0          6874
9.0          6244
10.0         5664
11.0         5041
12.0         4549
13.0         4140
14.0         3636
15.0         3188
16.0         2928
17.0         2726
18.0         2490
19.0         2330
20.0         2144
21.0         1809
22.0         1645
23.0         1424
24.0         1244
25.0         1118
26.0          973
27.0          830
28.0          775
29.0          615
           ...
1752.0          1
2213.0          1
2486.0          1
2524.0          1
2523.0          1
2521.0          1
2516.0          1
2515.0          1
2508.0          1
2502.0          1
2500.0          1
2494.0          1
2493.0          1
2492.0          1
2488.0          1
2485.0          1
2453.0          1
2481.0          1
2708.0          1
2475.0          1
2472.0          1
2250.0          1
2743.0          1
2466.0          1
2463.0          1
2462.0          1
2460.0          1
2455.0          1
2454.0          1
2712.0          1
Name: SK_DPD, Length: 2557, dtype: int64

In [23]:
d2 = d1[d1['SK_DPD']>0.0]

In [24]:
d2.head()

,SK_ID_PREV,SK_ID_CURR_x,AMT_CREDIT,DAYS_DECISION,NAME_CASH_LOAN_PURPOSE,NAME_PORTFOLIO,SK_DPD
143,1182516,267782,451777.5,-686,XNA,Cash,1.0
145,1182516,267782,451777.5,-686,XNA,Cash,2.0
281,2740958,281589,33115.5,-983,XAP,POS,3.0
282,2740958,281589,33115.5,-983,XAP,POS,1.0
283,2740958,281589,33115.5,-983,XAP,POS,2.0

In [25]:
d2.shape

(223754, 7)

In [20]:
ins_pay.head()

   SK_ID_PREV  SK_ID_CURR  delayed_by_days
0     1054186      161674             -7.0
1     1330831      151639              0.0
2     2085231      193053              0.0
3     2452527      199697             -8.0
4     2714724      167756             17.0

In [26]:
d3 = ins_pay[ins_pay['delayed_by_days']>0.0]

In [27]:
d3.shape

(1146669, 3)

In [28]:
d3.head()

    SK_ID_PREV  SK_ID_CURR  delayed_by_days
4      2714724      167756             17.0
19     2329072      183463              6.0
30     1840786      175114              2.0
45     1644499      111587             15.0
47     1895324      131465              7.0

In [81]:
data_hyp = pd.merge(d2,d3, on='SK_ID_PREV')

In [67]:
data_hyp.shape

(1509360, 9)

In [49]:
data_hyp.head(20)

,SK_ID_PREV,SK_ID_CURR_x,AMT_CREDIT,DAYS_DECISION,NAME_CASH_LOAN_PURPOSE,NAME_PORTFOLIO,SK_DPD,SK_ID_CURR,delayed_by_days
315834,1000053,399400,29893.5,-1426,XAP,POS,2.0,399400,1.0
315833,1000053,399400,29893.5,-1426,XAP,POS,2.0,399400,2.0
44109,1000055,238221,27949.5,-1194,XAP,POS,1.0,238221,4.0
44114,1000055,238221,27949.5,-1194,XAP,POS,32.0,238221,4.0
44110,1000055,238221,27949.5,-1194,XAP,POS,1.0,238221,14.0
44115,1000055,238221,27949.5,-1194,XAP,POS,32.0,238221,14.0
44112,1000055,238221,27949.5,-1194,XAP,POS,1.0,238221,18.0
44117,1000055,238221,27949.5,-1194,XAP,POS,32.0,238221,18.0
44111,1000055,238221,27949.5,-1194,XAP,POS,1.0,238221,34.0
44116,1000055,238221,27949.5,-1194,XAP,POS,32.0,238221,34.0
44113,1000055,238221,27949.5,-1194,XAP,POS,1.0,238221,48.0
44118,1000055,238221,27949.5,-1194,XAP,POS,32.0,238221,48.0
1264938,1000062,206673,52092.0,-2355,XAP,POS,9.0,206673,11.0
497872,1000074,392725,25236.0,-237,XAP,POS,16.0,392725,20.0
1433381,1000076,353253,139306.5,-539,XAP,POS,1.0,353253,1.0
1433382,1000076,353253,139306.5,-539,XAP,POS,1.0,353253,1.0
1433386,1000076,353253,139306.5,-539,XAP,POS,1.0,353253,1.0
1433390,1000076,353253,139306.5,-539,XAP,POS,4.0,353253,1.0
1433391,1000076,353253,139306.5,-539,XAP,POS,4.0,353253,1.0
1433395,1000076,353253,139306.5,-539,XAP,POS,4.0,353253,1.0

In [51]:
data_hyp.NAME_CASH_LOAN_PURPOSE.unique()

array(['XAP', 'Urgent needs', 'XNA', 'Other', 'Payments on other loans',
       'Repairs', 'Wedding / gift / holiday', 'Buying a used car',
       'Everyday expenses', 'Building a house or an annex', 'Medicine',
       'Journey', 'Education', 'Purchase of electronic equipment',
       'Hobby', 'Buying a new car', 'Business development', 'Car repairs',
       'Furniture', 'Money for a third person', 'Buying a home',
       'Gasification / water supply', 'Buying a holiday home / land',
       'Refusal to name the goal', 'Buying a garage'], dtype=object)

In [52]:
data_hyp.NAME_PORTFOLIO.unique()

array(['POS', 'Cash', 'Cars'], dtype=object)

In [82]:
data_hyp.drop(['DAYS_DECISION','SK_ID_CURR_x'], axis=1, inplace=True)

In [69]:
data_hyp.head(10)

,SK_ID_PREV,AMT_CREDIT,NAME_CASH_LOAN_PURPOSE,NAME_PORTFOLIO,SK_DPD,SK_ID_CURR,delayed_by_days
0,1182516,451777.5,XNA,Cash,1.0,267782,2.0
1,1182516,451777.5,XNA,Cash,1.0,267782,3.0
2,1182516,451777.5,XNA,Cash,1.0,267782,1.0
3,1182516,451777.5,XNA,Cash,1.0,267782,3.0
4,1182516,451777.5,XNA,Cash,1.0,267782,2.0
5,1182516,451777.5,XNA,Cash,1.0,267782,1.0
6,1182516,451777.5,XNA,Cash,1.0,267782,5.0
7,1182516,451777.5,XNA,Cash,1.0,267782,1.0
8,1182516,451777.5,XNA,Cash,1.0,267782,2.0
9,1182516,451777.5,XNA,Cash,1.0,267782,2.0

In [70]:
data_hyp.shape

(1509360, 7)

In [71]:
data_hyp.drop_duplicates('SK_ID_PREV', inplace=True)

In [72]:
data_hyp.shape

(71437, 7)

In [64]:
data_hyp.head(10)

,SK_ID_PREV,AMT_CREDIT,NAME_CASH_LOAN_PURPOSE,NAME_PORTFOLIO,SK_DPD,SK_ID_CURR,delayed_by_days
315834,1000053,29893.5,XAP,POS,2.0,399400,1.0
44109,1000055,27949.5,XAP,POS,1.0,238221,4.0
1264938,1000062,52092.0,XAP,POS,9.0,206673,11.0
497872,1000074,25236.0,XAP,POS,16.0,392725,20.0
1433381,1000076,139306.5,XAP,POS,1.0,353253,1.0
1469410,1000114,21262.5,XAP,POS,8.0,181665,9.0
313947,1000149,231786.0,Urgent needs,Cash,1.0,339127,1.0
1265903,1000188,27495.0,XAP,POS,2.0,280792,2.0
1331932,1000205,36450.0,XAP,POS,21.0,271594,189.0
901588,1000210,225000.0,XNA,Cash,14.0,314456,2.0

In [92]:
data_hyp.to_csv('hyp_test1.csv')

In [74]:
data_test = pd.read_csv('data_test.csv')

In [75]:
data_test.shape

(24179741, 7)

In [97]:
data_test.head(20)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_DAY_OVERDUE,CNT_CREDIT_PROLONG,CREDIT_TYPE,STATUS
0,380361,5715448,0,0,Credit card,C
1,380361,5715448,0,0,Credit card,C
2,380361,5715448,0,0,Credit card,C
3,380361,5715448,0,0,Credit card,C
4,380361,5715448,0,0,Credit card,C
5,380361,5715448,0,0,Credit card,C
6,380361,5715448,0,0,Credit card,C
7,380361,5715448,0,0,Credit card,C
8,380361,5715448,0,0,Credit card,C
9,380361,5715448,0,0,Credit card,0
10,380361,5715448,0,0,Credit card,0
11,380361,5715448,0,0,Credit card,X
12,380361,5715448,0,0,Credit card,X
13,380361,5715448,0,0,Credit card,X
14,380361,5715448,0,0,Credit card,0
15,380361,5715448,0,0,Credit card,0
16,380361,5715448,0,0,Credit card,0
17,380361,5715448,0,0,Credit card,0
18,380361,5715448,0,0,Credit card,0
19,380361,5715448,0,0,Credit card,0

In [99]:
data_test.drop_duplicates(['SK_ID_CURR','STATUS'], inplace = True)

In [77]:
data_test.drop('Unnamed: 0', axis=1, inplace=True)

In [100]:
data = pd.merge(data_hyp,data_test,on='SK_ID_CURR')

In [105]:
data.shape

(1917838, 12)

In [139]:
data.head(100)

,SK_ID_PREV,AMT_CREDIT,NAME_CASH_LOAN_PURPOSE,NAME_PORTFOLIO,SK_DPD,SK_ID_CURR,delayed_by_days,SK_ID_BUREAU,CREDIT_DAY_OVERDUE,CNT_CREDIT_PROLONG,CREDIT_TYPE,STATUS
1177863,1108870,24232.5,XAP,POS,18.0,100013,19.0,5922083,0,0,Car loan,C
1177864,1108870,24232.5,XAP,POS,18.0,100013,19.0,5922083,0,0,Car loan,1
1177865,1108870,24232.5,XAP,POS,18.0,100013,19.0,5922083,0,0,Car loan,0
1177866,1108870,24232.5,XAP,POS,18.0,100013,19.0,5922077,0,0,Consumer credit,X
1177871,1108870,24232.5,XAP,POS,16.0,100013,19.0,5922083,0,0,Car loan,C
1177872,1108870,24232.5,XAP,POS,16.0,100013,19.0,5922083,0,0,Car loan,1
1177873,1108870,24232.5,XAP,POS,16.0,100013,19.0,5922083,0,0,Car loan,0
1177874,1108870,24232.5,XAP,POS,16.0,100013,19.0,5922077,0,0,Consumer credit,X
1177867,1108870,24232.5,XAP,POS,18.0,100013,21.0,5922083,0,0,Car loan,C
1177868,1108870,24232.5,XAP,POS,18.0,100013,21.0,5922083,0,0,Car loan,1
1177869,1108870,24232.5,XAP,POS,18.0,100013,21.0,5922083,0,0,Car loan,0
1177870,1108870,24232.5,XAP,POS,18.0,100013,21.0,5922077,0,0,Consumer credit,X
1177875,1108870,24232.5,XAP,POS,16.0,100013,21.0,5922083,0,0,Car loan,C
1177876,1108870,24232.5,XAP,POS,16.0,100013,21.0,5922083,0,0,Car loan,1
1177877,1108870,24232.5,XAP,POS,16.0,100013,21.0,5922083,0,0,Car loan,0
1177878,1108870,24232.5,XAP,POS,16.0,100013,21.0,5922077,0,0,Consumer credit,X
1863746,2037234,53329.5,XAP,POS,29.0,100033,1.0,5943236,0,0,Credit card,X
1863747,2037234,53329.5,XAP,POS,29.0,100033,1.0,5943236,0,0,Credit card,0
1863784,2037234,53329.5,XAP,POS,2.0,100033,1.0,5943236,0,0,Credit card,X
1863785,2037234,53329.5,XAP,POS,2.0,100033,1.0,5943236,0,0,Credit card,0
1863822,2037234,53329.5,XAP,POS,1.0,100033,1.0,5943236,0,0,Credit card,X
1863823,2037234,53329.5,XAP,POS,1.0,100033,1.0,5943236,0,0,Credit card,0
1863752,2037234,53329.5,XAP,POS,29.0,100033,4.0,5943236,0,0,Credit card,X
1863753,2037234,53329.5,XAP,POS,29.0,100033,4.0,5943236,0,0,Credit card,0
1863790,2037234,53329.5,XAP,POS,2.0,100033,4.0,5943236,0,0,Credit card,X
1863791,2037234,53329.5,XAP,POS,2.0,100033,4.0,5943236,0,0,Credit card,0
1863828,2037234,53329.5,XAP,POS,1.0,100033,4.0,5943236,0,0,Credit card,X
1863829,2037234,53329.5,XAP,POS,1.0,100033,4.0,5943236,0,0,Credit card,0
1863748,2037234,53329.5,XAP,POS,29.0,100033,6.0,5943236,0,0,Credit card,X
1863749,2037234,53329.5,XAP,POS,29.0,100033,6.0,5943236,0,0,Credit card,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1863774,2037234,53329.5,XAP,POS,29.0,100033,25.0,5943236,0,0,Credit card,X
1863775,2037234,53329.5,XAP,POS,29.0,100033,25.0,5943236,0,0,Credit card,0
1863812,2037234,53329.5,XAP,POS,2.0,100033,25.0,5943236,0,0,Credit card,X
1863813,2037234,53329.5,XAP,POS,2.0,100033,25.0,5943236,0,0,Credit card,0
1863850,2037234,53329.5,XAP,POS,1.0,100033,25.0,5943236,0,0,Credit card,X
1863851,2037234,53329.5,XAP,POS,1.0,100033,25.0,5943236,0,0,Credit card,0
1863756,2037234,53329.5,XAP,POS,29.0,100033,27.0,5943236,0,0,Credit card,X
1863757,2037234,53329.5,XAP,POS,29.0,100033,27.0,5943236,0,0,Credit card,0
1863794,2037234,53329.5,XAP,POS,2.0,100033,27.0,5943236,0,0,Credit card,X
1863795,2037234,53329.5,XAP,POS,2.0,100033,27.0,5943236,0,0,Credit card,0
1863832,2037234,53329.5,XAP,POS,1.0,100033,27.0,5943236,0,0,Credit card,X
1863833,2037234,53329.5,XAP,POS,1.0,100033,27.0,5943236,0,0,Credit card,0
1863770,2037234,53329.5,XAP,POS,29.0,100033,39.0,5943236,0,0,Credit card,X
1863771,2037234,53329.5,XAP,POS,29.0,100033,39.0,5943236,0,0,Credit card,0
1863808,2037234,53329.5,XAP,POS,2.0,100033,39.0,5943236,0,0,Credit card,X
1863809,2037234,53329.5,XAP,POS,2.0,100033,39.0,5943236,0,0,Credit card,0
1863846,2037234,53329.5,XAP,POS,1.0,100033,39.0,5943236,0,0,Credit card,X
1863847,2037234,53329.5,XAP,POS,1.0,100033,39.0,5943236,0,0,Credit card,0
1863776,2037234,53329.5,XAP,POS,29.0,100033,57.0,5943236,0,0,Credit card,X
1863777,2037234,53329.5,XAP,POS,29.0,100033,57.0,5943236,0,0,Credit card,0
1863814,2037234,53329.5,XAP,POS,2.0,100033,57.0,5943236,0,0,Credit card,X
1863815,2037234,53329.5,XAP,POS,2.0,100033,57.0,5943236,0,0,Credit card,0
1863852,2037234,53329.5,XAP,POS,1.0,100033,57.0,5943236,0,0,Credit card,X
1863853,2037234,53329.5,XAP,POS,1.0,100033,57.0,5943236,0,0,Credit card,0
1863780,2037234,53329.5,XAP,POS,29.0,100033,59.0,5943236,0,0,Credit card,X
1863781,2037234,53329.5,XAP,POS,29.0,100033,59.0,5943236,0,0,Credit card,0
1863818,2037234,53329.5,XAP,POS,2.0,100033,59.0,5943236,0,0,Credit card,X
1863819,2037234,53329.5,XAP,POS,2.0,100033,59.0,5943236,0,0,Credit card,0
1863856,2037234,53329.5,XAP,POS,1.0,100033,59.0,5943236,0,0,Credit card,X
1863857,2037234,53329.5,XAP,POS,1.0,100033,59.0,5943236,0,0,Credit card,0

In [138]:
data.sort_values(['SK_ID_BUREAU','delayed_by_days'])

,SK_ID_PREV,AMT_CREDIT,NAME_CASH_LOAN_PURPOSE,NAME_PORTFOLIO,SK_DPD,SK_ID_CURR,delayed_by_days,SK_ID_BUREAU,CREDIT_DAY_OVERDUE,CNT_CREDIT_PROLONG,CREDIT_TYPE,STATUS
462001,1125816,136359.0,XAP,POS,8.0,295616,2.0,5001795,0,0,Credit card,X
462025,1125816,136359.0,XAP,POS,4.0,295616,2.0,5001795,0,0,Credit card,X
462041,1560039,56151.0,XAP,POS,1.0,295616,8.0,5001795,0,0,Credit card,X
462057,1560039,56151.0,XAP,POS,5.0,295616,8.0,5001795,0,0,Credit card,X
461985,1125816,136359.0,XAP,POS,8.0,295616,11.0,5001795,0,0,Credit card,X
462009,1125816,136359.0,XAP,POS,4.0,295616,11.0,5001795,0,0,Credit card,X
462033,1560039,56151.0,XAP,POS,1.0,295616,22.0,5001795,0,0,Credit card,X
462049,1560039,56151.0,XAP,POS,5.0,295616,22.0,5001795,0,0,Credit card,X
461993,1125816,136359.0,XAP,POS,8.0,295616,25.0,5001795,0,0,Credit card,X
462017,1125816,136359.0,XAP,POS,4.0,295616,25.0,5001795,0,0,Credit card,X
462002,1125816,136359.0,XAP,POS,8.0,295616,2.0,5001797,0,0,Consumer credit,C
462003,1125816,136359.0,XAP,POS,8.0,295616,2.0,5001797,0,0,Consumer credit,5
462004,1125816,136359.0,XAP,POS,8.0,295616,2.0,5001797,0,0,Consumer credit,4
462005,1125816,136359.0,XAP,POS,8.0,295616,2.0,5001797,0,0,Consumer credit,3
462006,1125816,136359.0,XAP,POS,8.0,295616,2.0,5001797,0,0,Consumer credit,2
462007,1125816,136359.0,XAP,POS,8.0,295616,2.0,5001797,0,0,Consumer credit,1
462008,1125816,136359.0,XAP,POS,8.0,295616,2.0,5001797,0,0,Consumer credit,0
462026,1125816,136359.0,XAP,POS,4.0,295616,2.0,5001797,0,0,Consumer credit,C
462027,1125816,136359.0,XAP,POS,4.0,295616,2.0,5001797,0,0,Consumer credit,5
462028,1125816,136359.0,XAP,POS,4.0,295616,2.0,5001797,0,0,Consumer credit,4
462029,1125816,136359.0,XAP,POS,4.0,295616,2.0,5001797,0,0,Consumer credit,3
462030,1125816,136359.0,XAP,POS,4.0,295616,2.0,5001797,0,0,Consumer credit,2
462031,1125816,136359.0,XAP,POS,4.0,295616,2.0,5001797,0,0,Consumer credit,1
462032,1125816,136359.0,XAP,POS,4.0,295616,2.0,5001797,0,0,Consumer credit,0
462042,1560039,56151.0,XAP,POS,1.0,295616,8.0,5001797,0,0,Consumer credit,C
462043,1560039,56151.0,XAP,POS,1.0,295616,8.0,5001797,0,0,Consumer credit,5
462044,1560039,56151.0,XAP,POS,1.0,295616,8.0,5001797,0,0,Consumer credit,4
462045,1560039,56151.0,XAP,POS,1.0,295616,8.0,5001797,0,0,Consumer credit,3
462046,1560039,56151.0,XAP,POS,1.0,295616,8.0,5001797,0,0,Consumer credit,2
462047,1560039,56151.0,XAP,POS,1.0,295616,8.0,5001797,0,0,Consumer credit,1
...,...,...,...,...,...,...,...,...,...,...,...,...
333351,1151061,19539.0,XAP,POS,4.0,204373,36.0,6842782,0,0,Consumer credit,1
333387,1151061,19539.0,XAP,POS,8.0,204373,36.0,6842782,0,0,Consumer credit,1
333423,1151061,19539.0,XAP,POS,7.0,204373,36.0,6842782,0,0,Consumer credit,1
211502,1102268,97326.0,XAP,POS,8.0,201721,10.0,6842798,0,0,Credit card,0
211511,1102268,97326.0,XAP,POS,10.0,201721,10.0,6842798,0,0,Credit card,0
211520,1102268,97326.0,XAP,POS,10.0,201721,10.0,6842798,0,0,Credit card,0
211496,1102268,97326.0,XAP,POS,8.0,201721,14.0,6842798,0,0,Credit card,0
211505,1102268,97326.0,XAP,POS,10.0,201721,14.0,6842798,0,0,Credit card,0
211514,1102268,97326.0,XAP,POS,10.0,201721,14.0,6842798,0,0,Credit card,0
211499,1102268,97326.0,XAP,POS,8.0,201721,16.0,6842798,0,0,Credit card,0
211508,1102268,97326.0,XAP,POS,10.0,201721,16.0,6842798,0,0,Credit card,0
211517,1102268,97326.0,XAP,POS,10.0,201721,16.0,6842798,0,0,Credit card,0
211503,1102268,97326.0,XAP,POS,8.0,201721,10.0,6842799,0,0,Consumer credit,C
211512,1102268,97326.0,XAP,POS,10.0,201721,10.0,6842799,0,0,Consumer credit,C
211521,1102268,97326.0,XAP,POS,10.0,201721,10.0,6842799,0,0,Consumer credit,C
211497,1102268,97326.0,XAP,POS,8.0,201721,14.0,6842799,0,0,Consumer credit,C
211506,1102268,97326.0,XAP,POS,10.0,201721,14.0,6842799,0,0,Consumer credit,C
211515,1102268,97326.0,XAP,POS,10.0,201721,14.0,6842799,0,0,Consumer credit,C
211500,1102268,97326.0,XAP,POS,8.0,201721,16.0,6842799,0,0,Consumer credit,C
211509,1102268,97326.0,XAP,POS,10.0,201721,16.0,6842799,0,0,Consumer credit,C
211518,1102268,97326.0,XAP,POS,10.0,201721,16.0,6842799,0,0,Consumer credit,C
211504,1102268,97326.0,XAP,POS,8.0,201721,10.0,6842800,0,0,Consumer credit,X
211513,1102268,97326.0,XAP,POS,10.0,201721,10.0,6842800,0,0,Consumer credit,X
211522,1102268,97326.0,XAP,POS,10.0,201721,10.0,6842800,0,0,Consumer credit,X
211498,1102268,97326.0,XAP,POS,8.0,201721,14.0,6842800,0,0,Consumer credit,X
211507,1102268,97326.0,XAP,POS,10.0,201721,14.0,6842800,0,0,Consumer credit,X
211516,1102268,97326.0,XAP,POS,10.0,201721,14.0,6842800,0,0,Consumer credit,X
211501,1102268,97326.0,XAP,POS,8.0,201721,16.0,6842800,0,0,Consumer credit,X
211510,1102268,97326.0,XAP,POS,10.0,201721,16.0,6842800,0,0,Consumer credit,X
211519,1102268,97326.0,XAP,POS,10.0,201721,16.0,6842800,0,0,Consumer credit,X

In [106]:
data.to_csv('data.csv')

In [119]:
data.shape

(1917838, 12)

In [140]:
data.drop_duplicates(['SK_ID_CURR']).shape

(22762, 12)

In [141]:
data.drop_duplicates(['SK_ID_BUREAU']).shape

(43786, 12)

In [142]:
data.drop_duplicates(['SK_ID_PREV']).shape

(27665, 12)