In [3]:
import pandas as pd

In [2]:
inst_pmnt = pd.read_csv('installments_payments.csv')

In [3]:
inst_pmnt.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [4]:
inst_pmt = inst_pmnt.loc[:,['SK_ID_CURR','DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT']]

In [5]:
inst_pmt['Days_Delayed'] = inst_pmt['DAYS_ENTRY_PAYMENT'] - inst_pmt['DAYS_INSTALMENT']

In [6]:
inst_pmt.drop(['DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT'], axis=1, inplace = True)

In [7]:
inst_pmt.shape

(13605401, 2)

In [8]:
pos = pd.read_csv('POS_CASH_balance.csv')

In [9]:
pos.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'CNT_INSTALMENT',
       'CNT_INSTALMENT_FUTURE', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [12]:
pos_d = pos.loc[:,['SK_ID_CURR','SK_DPD','SK_DPD_DEF']]

In [13]:
pos_d.shape

(10001358, 3)

In [17]:
data_1 = pos_d.join(inst_pmt, on='SK_ID_CURR', how='inner', rsuffix='_right')

In [18]:
data_1.shape

(10001358, 5)

In [22]:
data_1.head()

         SK_ID_CURR  SK_DPD  SK_DPD_DEF  Days_Delayed
0            182943       0           0         -31.0
750221       182943       0           0         -31.0
861808       182943       0           0         -31.0
925513       182943       0           0         -31.0
1120907      182943       0           0         -31.0

In [20]:
data_1.isnull().sum()

SK_ID_CURR          0
SK_DPD              0
SK_DPD_DEF          0
SK_ID_CURR_right    0
Days_Delayed        0
dtype: int64

In [21]:
data_1.drop('SK_ID_CURR_right', axis=1, inplace=True)

In [23]:
c_c = pd.read_csv('credit_card_balance.csv')

In [25]:
c_c_b = c_c.loc[:,['SK_ID_CURR','SK_DPD','SK_DPD_DEF']]

In [31]:
c_c_b.shape

(3840312, 3)

In [27]:
data_2 = c_c_b.join(inst_pmt, on='SK_ID_CURR', how='inner', rsuffix='_right')

In [29]:
data_2.drop('SK_ID_CURR_right', axis=1, inplace=True)

In [30]:
data_2.shape

(3840312, 4)

In [32]:
data_1.to_csv('data_1.csv')

In [33]:
data_2.to_csv('data_2.csv')

In [35]:
data_1.head(2)

        SK_ID_CURR  SK_DPD  SK_DPD_DEF  Days_Delayed
0           182943       0           0         -31.0
750221      182943       0           0         -31.0

In [36]:
data_1['Days_Delayed'].min()

-517.0

In [37]:
data_1['Days_Delayed'].max()

2364.0

In [45]:
data_2['SK_DPD'].min()

0

In [46]:
data_2['SK_DPD'].max()

3260

In [47]:
data_2['SK_DPD_DEF'].min()

0

In [48]:
data_2['SK_DPD_DEF'].max()

3260

In [42]:
data_2.head(2)

        SK_ID_CURR  SK_DPD  SK_DPD_DEF  Days_Delayed
0           378907       0           0          -8.0
122799      378907       0           0          -8.0

In [43]:
data_2['Days_Delayed'].min()

-517.0

In [44]:
data_2['Days_Delayed'].max()

2364.0

In [4]:
data_3 = pd.read_csv('data_3.csv')

In [7]:
data_3.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
group = data_3.groupby(by=['SK_ID_CURR','STATUS']).count()

In [9]:
group

                   SK_ID_BUREAU  CREDIT_DAY_OVERDUE  CNT_CREDIT_PROLONG
SK_ID_CURR STATUS
100001     0                 31                  31                  31
           1                  1                   1                   1
           C                110                 110                 110
           X                 30                  30                  30
100002     0                 45                  45                  45
           1                 27                  27                  27
           C                 23                  23                  23
           X                 15                  15                  15
100005     0                 14                  14                  14
           C                  5                   5                   5
           X                  2                   2                   2
100010     0                 20                  20                  20
           C                 52                  52                  52
100013     0                 79                  79                  79
           1                  7                   7                   7
           C                103                 103                 103
           X                 41                  41                  41
100019     0                 32                  32                  32
           X                  2                   2                   2
100028     0                164                 164                 164
           C                263                 263                 263
           X                133                 133                 133
100032     0                 68                  68                  68
           X                  8                   8                   8
100033     0                  1                   1                   1
           X                  6                   6                   6
100037     0                 29                  29                  29
           C                392                 392                 392
100042     0                190                 190                 190
           1                  7                   7                   7
...                         ...                 ...                 ...
456233     0                  7                   7                   7
456234     0                 17                  17                  17
           1                 17                  17                  17
           C                 87                  87                  87
           X                 10                  10                  10
456235     0                 17                  17                  17
           C                106                 106                 106
456238     0                 20                  20                  20
           C                386                 386                 386
           X                 16                  16                  16
456242     0                 17                  17                  17
456244     0                205                 205                 205
           1                  8                   8                   8
           2                  2                   2                   2
           C                793                 793                 793
           X                110                 110                 110
456247     0                 66                  66                  66
           C                219                 219                 219
           X                 35                  35                  35
456250     0                 12                  12                  12
           C                 25                  25                  25
           X                 50                  50                  50
456253     0                 47                  47                  47
           C                 57                  57                  57
           X                 13                  13                  13
456254     0                  8                   8                   8
           C                 29                  29                  29
456255     0                 63                  63                  63
           C                213                 213                 213
           X                 17                  17                  17

[416959 rows x 3 columns]

In [51]:
data_3['CREDIT_DAY_OVERDUE'].min()

0

In [52]:
data_3['CREDIT_DAY_OVERDUE'].max()

2792

In [53]:
data_3['CNT_CREDIT_PROLONG'].max()

9

In [55]:
data_1.corr()

              SK_ID_CURR    SK_DPD  SK_DPD_DEF  Days_Delayed
SK_ID_CURR      1.000000  0.003118    0.001948     -0.000119
SK_DPD          0.003118  1.000000    0.245782     -0.001847
SK_DPD_DEF      0.001948  0.245782    1.000000     -0.000039
Days_Delayed   -0.000119 -0.001847   -0.000039      1.000000

In [56]:
data_2.corr()

              SK_ID_CURR    SK_DPD  SK_DPD_DEF  Days_Delayed
SK_ID_CURR      1.000000 -0.000962    0.001519     -0.001754
SK_DPD         -0.000962  1.000000    0.218950      0.000150
SK_DPD_DEF      0.001519  0.218950    1.000000     -0.001066
Days_Delayed   -0.001754  0.000150   -0.001066      1.000000

In [57]:
data_3.corr()

,Unnamed: 0,SK_ID_CURR,SK_ID_BUREAU,CREDIT_DAY_OVERDUE,CNT_CREDIT_PROLONG
Unnamed: 0,1.000000,0.002824,0.099040,0.000257,-0.000388
SK_ID_CURR,0.002824,1.000000,0.000018,0.000248,0.001176
SK_ID_BUREAU,0.099040,0.000018,1.000000,-0.001327,-0.006645
CREDIT_DAY_OVERDUE,0.000257,0.000248,-0.001327,1.000000,0.001134
CNT_CREDIT_PROLONG,-0.000388,0.001176,-0.006645,0.001134,1.000000

In [10]:
data_1= pd.read_csv('data_1.csv')

In [11]:
data_1.drop('Unnamed: 0',axis=1,inplace=True)

In [12]:
data_2 = pd.read_csv('data_2.csv')

In [13]:
data_2.drop('Unnamed: 0', axis=1, inplace = True)

In [ ]:
data_4 = pd.merge(data_1,data_2, on='SK_ID_CURR', how='outer')