In [2]:
import pandas as pd
import numpy as np

In [2]:
cc_bal = pd.read_csv('credit_card_balance.csv')

In [3]:
c_c_b = cc_bal.loc[:,['SK_ID_PREV','SK_ID_CURR','SK_DPD','SK_DPD_DEF']]

In [4]:
c_c_b.to_csv('d3.csv')

In [3]:
bue = pd.read_csv('bureau.csv')

In [9]:
bue.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')

In [4]:
bue_f = bue.loc[:,['SK_ID_CURR','SK_ID_BUREAU','CREDIT_DAY_OVERDUE','CNT_CREDIT_PROLONG']]

In [11]:
bue_f.to_csv('d4.csv')

In [5]:
b_b = pd.read_csv('bureau_balance.csv')

In [6]:
b_b_f = b_b.loc[:,['SK_ID_BUREAU','STATUS']]

In [14]:
b_b_f.to_csv('d5.csv')

In [15]:
bue_f.shape

(1716428, 4)

In [16]:
b_b_f.shape

(27299925, 2)

In [10]:
data_3 = pd.merge(bue_f,b_b_f, on='SK_ID_BUREAU')

In [12]:
data_3.head(10)

   SK_ID_CURR  SK_ID_BUREAU  CREDIT_DAY_OVERDUE  CNT_CREDIT_PROLONG STATUS
0      380361       5715448                   0                   0      C
1      380361       5715448                   0                   0      C
2      380361       5715448                   0                   0      C
3      380361       5715448                   0                   0      C
4      380361       5715448                   0                   0      C
5      380361       5715448                   0                   0      C
6      380361       5715448                   0                   0      C
7      380361       5715448                   0                   0      C
8      380361       5715448                   0                   0      C
9      380361       5715448                   0                   0      0

In [11]:
data_3.isnull().sum()

SK_ID_CURR            0
SK_ID_BUREAU          0
CREDIT_DAY_OVERDUE    0
CNT_CREDIT_PROLONG    0
STATUS                0
dtype: int64

In [13]:
data_3.to_csv('data_3.csv')

In [15]:
aa = pd.read_csv('d1.csv')

In [16]:
bb = pd.read_csv('d2.csv')

In [21]:
aa.shape

(13605401, 4)

In [ ]:
comb_1 = pd.merge(bb,data1, on='SK_ID_CURR', how='left')

In [22]:
bb.sort_values('SK_ID_CURR')

         SK_ID_PREV  SK_ID_CURR  SK_DPD  SK_DPD_DEF
8531326     1851984      100001       0           0
1891462     1851984      100001       7           7
8789081     1369693      100001       0           0
4704415     1369693      100001       0           0
7167007     1369693      100001       0           0
4928574     1851984      100001       0           0
1261679     1851984      100001       0           0
7823681     1369693      100001       0           0
2197888     1369693      100001       0           0
9849444     1038818      100002       0           0
1216849     1038818      100002       0           0
9510102     1038818      100002       0           0
7403606     1038818      100002       0           0
9514583     1038818      100002       0           0
9517658     1038818      100002       0           0
7714429     1038818      100002       0           0
9793374     1038818      100002       0           0
6626366     1038818      100002       0           0
8701895     1038818      100002       0           0
7601963     1038818      100002       0           0
7606684     1038818      100002       0           0
2012884     1038818      100002       0           0
513222      1038818      100002       0           0
5258607     1038818      100002       0           0
9792215     1038818      100002       0           0
8473918     1038818      100002       0           0
6543835     1038818      100002       0           0
9228061     1038818      100002       0           0
1827209     2396755      100003       0           0
3969672     1810518      100003       0           0
...             ...         ...     ...         ...
1792408     1179690      456255       0           0
7405690     1743609      456255       0           0
3772306     1179690      456255       0           0
6475176     1743609      456255       0           0
526613      1179690      456255       0           0
8701943     1743609      456255       0           0
1743388     1179690      456255       0           0
1926615     2073384      456255       0           0
82281       1179690      456255       0           0
8159633     2729207      456255       0           0
2537781     1179690      456255       0           0
6836368     2631384      456255       0           0
3491866     2631384      456255       0           0
6439473     1359084      456255       0           0
8920857     1743609      456255       0           0
8695284     1743609      456255       0           0
2427416     1743609      456255       0           0
1373504     1179690      456255       0           0
279186      2073384      456255       0           0
985362      2631384      456255       0           0
4017702     2631384      456255       0           0
2099940     1179690      456255       0           0
4544359     2631384      456255       0           0
1383560     2631384      456255       0           0
1293593     1179690      456255       0           0
3839119     2631384      456255       0           0
4876277     2631384      456255       0           0
1386050     2631384      456255       0           0
3766097     2631384      456255       0           0
950855      2631384      456255       0           0

[10001358 rows x 4 columns]

In [ ]:
bb.head(10)

In [21]:
bb.drop('Unnamed: 0', axis=1, inplace=True)

In [18]:
data1 = aa[aa['Days_Delayed']>0]

In [19]:
data1.shape

(1146669, 3)

In [20]:
data1.head()

    SK_ID_PREV  SK_ID_CURR  Days_Delayed
4      2714724      167756          17.0
19     2329072      183463           6.0
30     1840786      175114           2.0
45     1644499      111587          15.0
47     1895324      131465           7.0

In [40]:
aa.sort_values('SK_ID_CURR')

          Unnamed: 0  SK_ID_PREV  SK_ID_CURR  Days_Delayed
3458712      3458712     1369693      100001         -11.0
3435373      3435373     1851984      100001           0.0
2624024      2624024     1369693      100001          -9.0
1761012      1761012     1851984      100001           0.0
3774071      3774071     1851984      100001          11.0
1478621      1478621     1369693      100001          -6.0
2568722      2568722     1369693      100001         -36.0
2163032      2163032     1038818      100002         -27.0
504426        504426     1038818      100002         -15.0
699804        699804     1038818      100002         -19.0
1675768      1675768     1038818      100002         -24.0
3594829      3594829     1038818      100002         -27.0
210205        210205     1038818      100002         -20.0
2144879      2144879     1038818      100002         -22.0
2785201      2785201     1038818      100002         -19.0
1703436      1703436     1038818      100002         -15.0
185679        185679     1038818      100002         -18.0
3343696      3343696     1038818      100002         -23.0
1807424      1807424     1038818      100002         -31.0
2841063      2841063     1038818      100002         -23.0
916044        916044     1038818      100002         -14.0
442432        442432     1038818      100002         -24.0
2646927      2646927     1038818      100002         -17.0
1390511      1390511     1038818      100002         -12.0
740300        740300     1038818      100002         -19.0
607863        607863     1038818      100002         -19.0
1001994      1001994     2396755      100003          -6.0
1923162      1923162     2636178      100003         -10.0
2771895      2771895     2396755      100003         -10.0
13709          13709     1810518      100003          -4.0
...              ...         ...         ...           ...
11895237    11895237     2073384      456255         -15.0
11967271    11967271     2631384      456255          -8.0
12918762    12918762     2631384      456255         -12.0
13404726    13404726     1179690      456255          -4.0
13329813    13329813     1179690      456255          -3.0
13561589    13561589     1359084      456255           2.0
11868424    11868424     2631384      456255          -8.0
12836981    12836981     1743609      456255          -6.0
11721916    11721916     2631384      456255         -12.0
11721915    11721915     2631384      456255         -12.0
11988256    11988256     1359084      456255           2.0
13582873    13582873     2631384      456255          -9.0
12567314    12567314     2729207      456255         -16.0
11660647    11660647     1359084      456255         -22.0
12954816    12954816     1359084      456255          -3.0
12916644    12916644     2073384      456255           2.0
12506299    12506299     2631384      456255          -4.0
11807182    11807182     2631384      456255           4.0
12787360    12787360     2631384      456255           3.0
12300604    12300604     2729207      456255         -13.0
13266002    13266002     2631384      456255         -20.0
12621549    12621549     1179690      456255         -11.0
12285791    12285791     2631384      456255           3.0
13280286    13280286     1179690      456255           5.0
13599889    13599889     2631384      456255          -7.0
11551234    11551234     2631384      456255         -26.0
13087700    13087700     1179690      456255           1.0
11589266    11589266     1743609      456255          -9.0
12567614    12567614     2631384      456255         -25.0
11683864    11683864     2631384      456255          -9.0

[13605401 rows x 4 columns]

In [27]:
aa.head(20)

In [31]:
c_c_b.drop('SK_ID_PREV', axis=1, inplace=True)

In [32]:
c_c_b.shape

(3840312, 3)

In [33]:
data_2 = pd.merge(c_c_b,aa,on='SK_ID_CURR', how='left')

MemoryError: